* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

body {
    /* padding: 0 4%; */
    background-color: azure;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.top-half {
    display: block;
    background-color: black;
    padding: 0 10%;
    border: 0;
}

.header {
    /* background-color: darkcyan; */
    color: aliceblue;
    height: 30px;
    padding: 20px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.header-logo {
    font-weight: bolder;
    font-size: 24px;
    align-items: center;
    /* width: 70%; */
}

.left-header {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    text-shadow:
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 60px #fff,
        0 0 80px #0bf,
        0 0 100px #0bf,
        0 0 120px #0bf,
        0 0 140px #0bf,
        0 0 160px #0bf;
}

.main-content {
    padding: 80px 20px;
    display: flex;
    flex: 1;
    color: azure;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-image {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

#signup-button {
    background-color: azure;
    width: 100px;
    height: 40px;
    font-size: medium;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

#signup-button:hover {
    box-shadow: 0px 0px 12px 2px azure;
}

#main-image {
    width: 700px;
    height: auto;
    border-radius: 5px;
}

.info-title {
    text-align: center;
    padding: 4% 0 0 0;
}

.fav-planets {
    margin: 0 10%;
    /* padding: 2% 10% 10% 4%; */
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-start;
}

.planet {
    width: 200px;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.planet-pic {
    width: 200px;
    height: auto;
    border: none;
    border-radius: 4px;
}

.planet-pic:hover {
    box-shadow: 0px 0px 12px 2px rgb(0, 0, 0);
}

#earth:hover {
    box-shadow: 0px 0px 12px 2px rgb(0, 89, 255);
}

#uranus:hover {
    box-shadow: 0px 0px 12px 2px rgb(141, 232, 255);
}

#neptune:hover {
    box-shadow: 0px 0px 12px 2px rgb(0, 76, 218);
}

#venus:hover {
    box-shadow: 0px 0px 12px 2px rgb(212, 224, 99);
}

#quote {
    margin: 2% 10% 0 10%;
    padding: 40px;
    background-color: black;
    border-radius: 5px;
    color: azure;
    font-size: large;
}

#author {
    margin: 2% 10% 0 10%;
    text-align: right;
}